<?xml version="1.0"?>
<model>
  <name>mid360_3d_lidar_sensor_only</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>zyc</name>
    <email>zyc@example.com</email>
  </author>
  <description>MID360-style 3D lidar sensor for Gazebo simulation.</description>
</model>
